<h2>Login to Finstagram</h2>

<%= @error_message if @error_message %>

<form action="/login" method="POST" style='padding:25px;'>
    <div class="form-group">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" value="--------">
    </div>
    <div class="form-group">
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" value="xxxxxxx">
    <div class="form-group">
        <button class="button" type="submit">Login!</button>
    </div>
</form>

<footer>
    <a href="/"><h5> Return To Main Page </h5></a>
</footer>
